<div class="container pb-5">
  <div class="row mb-4">
    <div class="col mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">Spice Girls</h1>
      <div class="row py-4">
        <div
          class="col bg-img d-flex justify-content-center align-items-center shadow-sm rounded"
        >
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle w-25"
                src="../../../../assets/class.jpg"
                alt="class image"
              />
            </div>
            <div class="h2 mt-2 text-light text-center font-weight-bold">
              Spice Girls
            </div>
            <div class="text-light text-center lead">
              <em>Angular Developers</em>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <div class="col text-center text-p-dark">
          <strong style="line-height: 5rem"
            >©2022 Spice Girls. HN-FR-ANGULAR-01.</strong
          >
          <p class="group">Group members:</p>
          <p>Cấn Thị Thùy: ThuyCT6</p>
          <p>Phan Thị Hoài An: AnPTH</p>
          <p>Nguyễn Thị Yến: YenNT44</p>
          <p>Hoàng Thanh Nga: NgaHT10</p>
          <p>Nguyễn Thị Phương: PhuongNT105</p>
        </div>
      </div>
    </div>
  </div>
</div>
